/*
Theme Name:     About us - Commercial opportunities
Theme URI:      http://www.nationalarchives.gov.uk/
Author:         The National Archives
Author URI:     http://www.nationalarchives.gov.uk/
Description:    Child Theme used for the commercial opportunities section of About us of The National Archives web site
Template:       tna
Version:        1.1
License:        GNU General Public License
License URI:    license.txt
Text Domain:    tna
Domain Path:    /languages/
*/

.commercial-opportunities-landing-page {
    background: #fff url("http://www.nationalarchives.gov.uk/images/about/commercial-opportunities-landing-image.jpg") no-repeat top center;
}